.TopButton__bntHover--VRuxl{background-color:var(--vkui--vkontakte_background_hover_alpha)}.TopButton__btnActive--N0irV{background-color:var(--vkui--color_transparent--active)}
.vkitAudioArtists__artist--cVBPb{color:var(--vkui--color_text_contrast)}
.vkitTopAudioPlayerInfo__info--paapP{max-width:254px}.vkitTopAudioPlayerInfo__title--KbQM5{max-width:230px}
.vkitTopAudioPlayerAction__action--h7rjj{pointer-events:auto}
.vkitTopAudioPlayer__player--QwanU{overflow:hidden;max-width:358px;width:auto;position:relative}.vkitTopAudioPlayer__player--QwanU:hover{background:var(--vkui--vkontakte_background_hover_alpha)}.vkitTopAudioPlayer__actions--lXtth{pointer-events:none}.vkitTopAudioPlayer__content--FyuzX{height:48px}
